body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em;
}
h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #8fe2e2;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bold;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #3c9497;
} 
.top-container{
    background-color: #009DAE;
    position: relative;
    padding-top: 100px;
}

.cloud-top{
    position: absolute;
    right:300px;
    top:50px;

}
.cloud-btm{
    position: absolute;
    left:300px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align:left;
}

.skill-left{
    width: 30%;
    float: left;
}

.skill-right{
    width: 30%;
    float:right;
}
.middle-container{
    background-color: #C2FFF9;
    padding: 50px;
}

a{
    color: #11999E;
    text-decoration: none;
}

.bottom-container{
    background-color: #71DFE7;
}

.profile{
    width: 50%;
    margin: 0 auto;
}

/* .box{
    display: inline-block;
} */

.img{
    background-color: rgba(19, 79, 94, 0.5);
    padding: 10px;
    border-radius: 100%;   
}